
body{
    border:2px solid black;
    margin-left:300px;
    margin-right:300px;
    margin-top:100px;
    align-items: center;
    background-color:rgb(79, 236, 186);
   text-align: center;
}
todo-container{   
    text-align: center;
}
h1{
    text-align: center;
     font-weight: 1200;
     font-size: 40px;
}
button.normal{
     font-weight:500;
    font-size: 14px;
    padding:5px 10px;
    color:#000;
    background-color:#fff ;
    border:1px solid black;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    outline:none;
    transition:0.2s;
}
.add{
    margin-left:10px;
   
}

.del{
    background-color:#fff;
    margin-bottom:10px;
    margin-left:10px;
    height:25px;
    width:70px;
     padding:5px 10px;
}
ul {
    list-style-position: inside; 
    padding-left: 0;              
    text-align: center;        
}

.list{
    margin-right:100px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size:20px;               
    justify-content: center;       
    gap: 12px;                    
    margin-bottom: 10px; 
}
span{
    text-align: center;
}
input{
    padding:7px;
    border:1px solid black;
}
